In [1]:
#Importing libraries

import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
import requests

print("Libraries imported successfully......")

Libraries imported successfully......

In [2]:
import pandas as pd
import requests

# Manager ID and Gameweek
manager_id = 1873280
GW = 8
# API URL to get the manager's team for a specific Gameweek
url = f"https://fantasy.premierleague.com/api/entry/{manager_id}/event/{GW}/picks/"

# Make the API request to get the manager's team
r = requests.get(url)
data = r.json()

# Create a list of dictionaries to store 'picks' along with metadata
picks_data = data.get('picks', [])  # Ensure 'picks' data is available

# Extract metadata
active_chip = data.get('active_chip')
automatic_subs = data.get('automatic_subs')
entry_history = data.get('entry_history')

# Create a list with metadata for each 'picks' element
data_list = []
for pick in picks_data:
    data_list.append({
        'active_chip': active_chip,
        'automatic_subs': automatic_subs,
        'entry_history': entry_history,
        **pick,  # Include the 'picks' data
    })

# Convert the list of dictionaries to a DataFrame
manager = pd.DataFrame(data_list)

In [3]:
manager

,active_chip,automatic_subs,entry_history,element,position,multiplier,is_captain,is_vice_captain
0,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",230,1,1,False,False
1,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",519,2,1,False,False
2,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",36,3,1,False,False
3,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",20,4,1,False,False
4,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",19,5,1,False,False
5,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",504,6,1,False,False
6,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",373,7,1,False,False
7,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",516,8,2,True,False
8,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",140,9,1,False,False
9,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",355,10,1,False,True
10,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",343,11,1,False,False
11,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",597,12,0,False,False
12,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",131,13,0,False,False
13,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",139,14,0,False,False
14,None,[],"{'event': 8, 'points': 49, 'total_points': 399...",466,15,0,False,False

In [5]:
manager.columns

Index(['active_chip', 'automatic_subs', 'entry_history', 'element', 'position',
       'multiplier', 'is_captain', 'is_vice_captain'],
      dtype='object')

In [7]:
FPL_team = manager.loc[:,'element']

In [8]:
FPL_team.to_csv('FPL_team.csv', index=False)