In [2]:
#Importing libraries

import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
import requests

print("Libraries imported successfully......")

Libraries imported successfully......

In [3]:
teams = pd.read_csv('expanded_teams_data.csv')

print("Data loaded successfully..")

Data loaded successfully..

In [4]:
teams

,code,team_id,team_name,team_short_name,unavailable,pulse_id,event_id,fixture_id,fixture_difficulty,opponent_team,opponent_score,team_score,Game_played,is_home
0,3,1,Arsenal,ARS,False,1,1,2.0,2.0,16.0,1.0,2.0,True,True
1,7,2,Aston Villa,AVL,False,2,1,6.0,4.0,15.0,5.0,1.0,True,False
2,91,3,Bournemouth,BOU,False,127,1,3.0,2.0,19.0,1.0,1.0,True,True
3,94,4,Brentford,BRE,False,130,1,8.0,3.0,18.0,2.0,2.0,True,True
4,36,5,Brighton,BHA,False,131,1,4.0,2.0,12.0,1.0,4.0,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,17,16,Nott'm Forest,NFO,False,15,38,374.0,2.0,6.0,NaN,NaN,False,False
756,49,17,Sheffield Utd,SHU,False,18,38,380.0,3.0,18.0,NaN,NaN,False,True
757,6,18,Spurs,TOT,False,21,38,380.0,2.0,17.0,NaN,NaN,False,False
758,21,19,West Ham,WHU,False,25,38,379.0,5.0,13.0,NaN,NaN,False,False
759,39,20,Wolves,WOL,False,38,38,377.0,4.0,11.0,NaN,NaN,False,False

Games played

In [5]:
# Convert 'Game_played' column to integers (1 for True, 0 for False)
teams['Game_played'].fillna(False, inplace=True)
teams['Game_played'] = teams['Game_played'].astype(int)

# Calculate cumulative 'Games_Count' for each row
teams['Games_Count'] = teams.groupby(['team_id', 'team_name'])['Game_played'].cumsum()

Total goals

In [6]:
teams['Total_Goals'] = teams.groupby(['team_id', 'team_name'])['team_score'].cumsum()

Goals per game

In [7]:
teams['Goals_per_game'] = teams['Total_Goals'] / teams['Games_Count']

Goals conceded

In [8]:
teams['Total_Conceded'] = teams.groupby(['team_id', 'team_name'])['opponent_score'].cumsum()

In [9]:
Liverpool = teams[teams['team_id'] == 11]
Liverpool

,code,team_id,team_name,team_short_name,unavailable,pulse_id,event_id,fixture_id,fixture_difficulty,opponent_team,opponent_score,team_score,Game_played,is_home,Games_Count,Total_Goals,Goals_per_game,Total_Conceded
10,14,11,Liverpool,LIV,False,10,1,9.0,3.0,7.0,1.0,1.0,1,False,1,1.0,1.000000,1.0
30,14,11,Liverpool,LIV,False,10,2,14.0,2.0,3.0,1.0,3.0,1,True,2,4.0,2.000000,2.0
50,14,11,Liverpool,LIV,False,10,3,29.0,4.0,15.0,1.0,2.0,1,False,3,6.0,2.000000,3.0
70,14,11,Liverpool,LIV,False,10,4,37.0,3.0,2.0,0.0,3.0,1,True,4,9.0,2.250000,3.0
90,14,11,Liverpool,LIV,False,10,5,50.0,2.0,20.0,1.0,3.0,1,False,5,12.0,2.400000,4.0
110,14,11,Liverpool,LIV,False,10,6,57.0,2.0,19.0,1.0,3.0,1,True,6,15.0,2.500000,5.0
130,14,11,Liverpool,LIV,False,10,7,68.0,3.0,18.0,2.0,1.0,1,False,7,16.0,2.285714,7.0
150,14,11,Liverpool,LIV,False,10,8,72.0,3.0,5.0,NaN,NaN,0,False,7,NaN,NaN,NaN
170,14,11,Liverpool,LIV,False,10,9,85.0,2.0,9.0,NaN,NaN,0,True,7,NaN,NaN,NaN
190,14,11,Liverpool,LIV,False,10,10,97.0,2.0,16.0,NaN,NaN,0,True,7,NaN,NaN,NaN
210,14,11,Liverpool,LIV,False,10,11,105.0,2.0,12.0,NaN,NaN,0,False,7,NaN,NaN,NaN
230,14,11,Liverpool,LIV,False,10,12,117.0,3.0,4.0,NaN,NaN,0,True,7,NaN,NaN,NaN
250,14,11,Liverpool,LIV,False,10,13,126.0,5.0,13.0,NaN,NaN,0,False,7,NaN,NaN,NaN
270,14,11,Liverpool,LIV,False,10,14,136.0,2.0,10.0,NaN,NaN,0,True,7,NaN,NaN,NaN
290,14,11,Liverpool,LIV,False,10,15,147.0,2.0,17.0,NaN,NaN,0,False,7,NaN,NaN,NaN
310,14,11,Liverpool,LIV,False,10,16,153.0,2.0,8.0,NaN,NaN,0,False,7,NaN,NaN,NaN
330,14,11,Liverpool,LIV,False,10,17,166.0,3.0,14.0,NaN,NaN,0,True,7,NaN,NaN,NaN
350,14,11,Liverpool,LIV,False,10,18,174.0,4.0,1.0,NaN,NaN,0,True,7,NaN,NaN,NaN
370,14,11,Liverpool,LIV,False,10,19,185.0,2.0,6.0,NaN,NaN,0,False,7,NaN,NaN,NaN
390,14,11,Liverpool,LIV,False,10,20,194.0,4.0,15.0,NaN,NaN,0,True,7,NaN,NaN,NaN
410,14,11,Liverpool,LIV,False,10,21,202.0,2.0,3.0,NaN,NaN,0,False,7,NaN,NaN,NaN
430,14,11,Liverpool,LIV,False,10,22,219.0,3.0,7.0,NaN,NaN,0,True,7,NaN,NaN,NaN
450,14,11,Liverpool,LIV,False,10,23,221.0,4.0,1.0,NaN,NaN,0,False,7,NaN,NaN,NaN
470,14,11,Liverpool,LIV,False,10,24,234.0,2.0,6.0,NaN,NaN,0,True,7,NaN,NaN,NaN
490,14,11,Liverpool,LIV,False,10,25,241.0,3.0,4.0,NaN,NaN,0,False,7,NaN,NaN,NaN
510,14,11,Liverpool,LIV,False,10,26,257.0,2.0,12.0,NaN,NaN,0,True,7,NaN,NaN,NaN
530,14,11,Liverpool,LIV,False,10,27,268.0,2.0,16.0,NaN,NaN,0,False,7,NaN,NaN,NaN
550,14,11,Liverpool,LIV,False,10,28,277.0,5.0,13.0,NaN,NaN,0,True,7,NaN,NaN,NaN
570,14,11,Liverpool,LIV,False,10,29,285.0,2.0,9.0,NaN,NaN,0,False,7,NaN,NaN,NaN
590,14,11,Liverpool,LIV,False,10,30,295.0,3.0,5.0,NaN,NaN,0,True,7,NaN,NaN,NaN
610,14,11,Liverpool,LIV,False,10,31,308.0,2.0,17.0,NaN,NaN,0,True,7,NaN,NaN,NaN
630,14,11,Liverpool,LIV,False,10,32,317.0,4.0,14.0,NaN,NaN,0,False,7,NaN,NaN,NaN
650,14,11,Liverpool,LIV,False,10,33,326.0,2.0,8.0,NaN,NaN,0,True,7,NaN,NaN,NaN
670,14,11,Liverpool,LIV,False,10,34,335.0,2.0,10.0,NaN,NaN,0,False,7,NaN,NaN,NaN
690,14,11,Liverpool,LIV,False,10,35,349.0,3.0,19.0,NaN,NaN,0,False,7,NaN,NaN,NaN
710,14,11,Liverpool,LIV,False,10,36,357.0,3.0,18.0,NaN,NaN,0,True,7,NaN,NaN,NaN
730,14,11,Liverpool,LIV,False,10,37,361.0,3.0,2.0,NaN,NaN,0,False,7,NaN,NaN,NaN
750,14,11,Liverpool,LIV,False,10,38,377.0,2.0,20.0,NaN,NaN,0,True,7,NaN,NaN,NaN