In [ ]:
#Importing libraries

import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
import requests

print("Libraries imported successfully......")

In [ ]:
teams = pd.read_csv('expanded_teams_data.csv')

print("Data loaded successfully..")

In [ ]:
teams

Games played

In [ ]:
# Convert 'Game_played' column to integers (1 for True, 0 for False)
teams['Game_played'].fillna(False, inplace=True)
teams['Game_played'] = teams['Game_played'].astype(int)

# Calculate cumulative 'Games_Count' for each row
teams['Games_Count'] = teams.groupby(['team_id', 'team_name'])['Game_played'].cumsum()

Total goals

In [ ]:
teams['Total_Goals'] = teams.groupby(['team_id', 'team_name'])['team_score'].cumsum()

Goals per game

In [ ]:
teams['Goals_per_game'] = teams['Total_Goals'] / teams['Games_Count']

Goals conceded

In [ ]:
teams['Total_Conceded'] = teams.groupby(['team_id', 'team_name'])['opponent_score'].cumsum()

In [ ]:
teams['Conceded_per_game'] = teams['Total_Conceded'] / teams['Games_Count']

Win

In [ ]:
teams['Win'] = teams['team_score'] > teams['opponent_score'] 
teams['Win'] = teams['Win'].astype(int)

Draw

In [ ]:
teams['Draw'] = teams['team_score'] == teams['opponent_score'] 
teams['Draw'] = teams['Draw'].astype(int)

Loss

In [ ]:
teams['Loss'] = teams['team_score'] < teams['opponent_score'] 
teams['Loss'] = teams['Loss'].astype(int)

Total wins

In [ ]:
teams['Total_wins'] = teams.groupby(['team_id', 'team_name'])['Win'].cumsum()

Win percentage

In [ ]:
teams['Win_percentage'] = (teams['Total_wins'] / teams['Games_Count']) * 100

Game Results

In [ ]:
teams['result'] = teams.apply(lambda row: 1 if row['Win'] else (-1 if row['Loss'] else 0), axis=1)

Form

In [ ]:
def calculate_form(group, num_games):
    forms = []
    current_form = ""
    
    for i, row in group.iterrows():
        result = row['result']
        if row['Game_played'] == True:
            if result == 1:
                current_form += 'W'
            elif result == -1:
                current_form += 'L'
            else:
                current_form += 'D'
            
            if len(current_form) > num_games:
                current_form = current_form[1:]
            
            forms.append(current_form)

        else:
            forms.append(None)
    return forms

# Calculate the form for each specific 'team_id' and assign it to the 'Form' column for that team
unique_team_ids = teams['team_id'].unique()
for team_id in unique_team_ids:
    team_subset = teams[teams['team_id'] == team_id]
    team_forms = calculate_form(team_subset, 5)
    teams.loc[teams['team_id'] == team_id, 'Form'] = team_forms

Numeric Form

In [ ]:
def calculate_numerical_form(group, num_games):
    numerical_forms = []
    current_form = []
    
    for i, row in group.iterrows():
        result = row['result']
        game_played = row['Game_played']
        
        if game_played:
            # Assign weights based on the position in the form
            weight = 1 + i / num_games
            
            if result == 1:
                value = 1
            elif result == -1:
                value = -1
            else:
                value = 0
            
            current_form.append(value * weight)
            
            if len(current_form) > num_games:
                current_form.pop(0)
            
            numerical_form = sum(current_form) / len(current_form)
            numerical_forms.append(numerical_form)
        
        else:
            numerical_forms.append(None)  # Append None for games that haven't been played
    
    return numerical_forms

# Calculate the numerical form for each specific 'team_id' and assign it to the 'Numerical_Form' column for that team
unique_team_ids = teams['team_id'].unique()
for team_id in unique_team_ids:
    team_subset = teams[teams['team_id'] == team_id]
    team_numerical_forms = calculate_numerical_form(team_subset, 5)
    teams.loc[teams['team_id'] == team_id, 'Numerical_Form'] = team_numerical_forms

print(teams)

Team strength

In [34]:
teams['Strength'] = teams['Numerical_Form']*2.5 + teams['fixture_difficulty']*2.0 + teams['Win_percentage']*2.0 + teams['Goals_per_game'] + teams['Conceded_per_game']*-1.0

In [38]:
Liverpool = teams[teams['team_id'] == 11]
Liverpool

,code,team_id,team_name,team_short_name,unavailable,pulse_id,event_id,fixture_id,fixture_difficulty,opponent_team,...,Conceded_per_game,Win,Draw,Loss,Total_wins,Win_percentage,result,Form,Numerical_Form,Strength
10,14,11,Liverpool,LIV,False,10,1,9.0,3.0,7.0,...,1.000000,0,1,0,0,0.000000,0,D,0.0,6.0
30,14,11,Liverpool,LIV,False,10,2,14.0,2.0,3.0,...,1.000000,1,0,0,1,50.000000,1,DW,3.5,113.75
50,14,11,Liverpool,LIV,False,10,3,29.0,4.0,15.0,...,1.000000,1,0,0,2,66.666667,1,DWW,6.0,157.333333
70,14,11,Liverpool,LIV,False,10,4,37.0,3.0,2.0,...,0.750000,1,0,0,3,75.000000,1,DWWW,8.25,178.125
90,14,11,Liverpool,LIV,False,10,5,50.0,2.0,20.0,...,0.800000,1,0,0,4,80.000000,1,DWWWW,10.4,191.6
110,14,11,Liverpool,LIV,False,10,6,57.0,2.0,19.0,...,0.833333,1,0,0,5,83.333333,1,WWWWW,15.0,209.833333
130,14,11,Liverpool,LIV,False,10,7,68.0,3.0,18.0,...,1.000000,0,0,1,5,71.428571,-1,WWWWL,8.2,170.642857
150,14,11,Liverpool,LIV,False,10,8,72.0,3.0,5.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
170,14,11,Liverpool,LIV,False,10,9,85.0,2.0,9.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
190,14,11,Liverpool,LIV,False,10,10,97.0,2.0,16.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
210,14,11,Liverpool,LIV,False,10,11,105.0,2.0,12.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
230,14,11,Liverpool,LIV,False,10,12,117.0,3.0,4.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
250,14,11,Liverpool,LIV,False,10,13,126.0,5.0,13.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
270,14,11,Liverpool,LIV,False,10,14,136.0,2.0,10.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
290,14,11,Liverpool,LIV,False,10,15,147.0,2.0,17.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
310,14,11,Liverpool,LIV,False,10,16,153.0,2.0,8.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
330,14,11,Liverpool,LIV,False,10,17,166.0,3.0,14.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
350,14,11,Liverpool,LIV,False,10,18,174.0,4.0,1.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
370,14,11,Liverpool,LIV,False,10,19,185.0,2.0,6.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
390,14,11,Liverpool,LIV,False,10,20,194.0,4.0,15.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
410,14,11,Liverpool,LIV,False,10,21,202.0,2.0,3.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
430,14,11,Liverpool,LIV,False,10,22,219.0,3.0,7.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
450,14,11,Liverpool,LIV,False,10,23,221.0,4.0,1.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
470,14,11,Liverpool,LIV,False,10,24,234.0,2.0,6.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
490,14,11,Liverpool,LIV,False,10,25,241.0,3.0,4.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
510,14,11,Liverpool,LIV,False,10,26,257.0,2.0,12.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
530,14,11,Liverpool,LIV,False,10,27,268.0,2.0,16.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
550,14,11,Liverpool,LIV,False,10,28,277.0,5.0,13.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
570,14,11,Liverpool,LIV,False,10,29,285.0,2.0,9.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
590,14,11,Liverpool,LIV,False,10,30,295.0,3.0,5.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
610,14,11,Liverpool,LIV,False,10,31,308.0,2.0,17.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
630,14,11,Liverpool,LIV,False,10,32,317.0,4.0,14.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
650,14,11,Liverpool,LIV,False,10,33,326.0,2.0,8.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
670,14,11,Liverpool,LIV,False,10,34,335.0,2.0,10.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
690,14,11,Liverpool,LIV,False,10,35,349.0,3.0,19.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
710,14,11,Liverpool,LIV,False,10,36,357.0,3.0,18.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
730,14,11,Liverpool,LIV,False,10,37,361.0,3.0,2.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN
750,14,11,Liverpool,LIV,False,10,38,377.0,2.0,20.0,...,NaN,0,0,0,5,71.428571,0,None,None,NaN